.jury {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1365 {
    padding-top: 60px;
  }

  @include vp-767 {
    padding-top: 35px;
  }
}

.jury__title {
  margin-bottom: 45px;

  @include vp-1365 {
    text-align: center;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 27px;
  }
}

.jury__list {
  display: flex;
  gap: 40px;

  @include vp-1365 {
    gap: 32px;
  }
}

.jury__item {
  width: 260px;
  height: 294px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;

  @include vp-1365 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.jury__name {
  position: absolute;
  color: #ffffff;
  font-family: $ff-placeholder;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 26px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.jury__slider {
  position: relative;
  display: flex;
  align-items: center;

  @include vp-1365 {
    padding-left: 55px;
    padding-right: 55px;
  }

  @include vp-767 {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.jury__controls {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  margin-left: -57px;
  width: 109.8%;

  @include vp-1365 {
    width: 100%;
    margin-left: 0;
    margin-left: -56px;
    width: 100.3%;
    padding-top: 7px;
  }

  @include vp-767 {
    margin-left: -30px;
    padding-top: 27px;
    width: 98.5%;
  }
}

.jury__control{
  padding: 0;

  @include vp-767 {
    padding: 0;
    width: 10px;
  }
}

.jury__item--pavlova,
.jury__item--lavrov {
  @include vp-1365 {
    display: none;
  }
}

.jury__item--ketova {
  @include vp-767 {
    display: none;
  }
}
