.presentation {
  padding: 115px 103px 235px 103px;
  display: flex;
  justify-content: space-between;

  @include vp-1365 {
    display: block;
    text-align: center;
    padding: 100px 45px 183px 45px;
  }

  @include vp-767 {
    padding: 76px 0 70px 0;
    text-align: left;
  }
}

.presentation__content--text {
  width: 355px;

  @include vp-1365 {
    width: 100%;
  }

  @include vp-767 {
    padding: 0 15px;
    text-align: left;
  }
}

.presentation__content--image {
  margin-top: 5px;
  position: relative;
}

.presentation__title {
  margin-bottom: 28px;

  @include vp-1365 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 17px;
  }
}

.presentation__subtitle {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 94px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-left: -5px;
    margin-bottom: 34px;
  }

  @include vp-767 {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 38px;
  }
}

.presentation__list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-1365 {
    padding-left: 88px;
    padding-right: 88px;
    margin-bottom: 38px;
  }

  @include vp-767 {
    padding: 0;
    margin-bottom: 52px;
  }
}

.presentation__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.presentation__item--second {
  @include vp-1365 {
    display: none;
  }
}

.presentation__video {
  position: absolute;
  left: -63px;
  top: 288px;

  @include vp-1365 {
    left: 206px;
    top: 261px;
  }

  @include vp-767 {
    position: relative;
    margin-top: 40px;
    left: 0;
    top: 0;
  }

}
