.price {
padding-top: 126px;
padding-bottom: 120px;
background-color: #f8f9fC;
position: relative;

  @include vp-1365 {
    padding-top: 100px;
  padding-bottom: 120px;
  }

  @include vp-767 {
    padding-top: 79px;
    padding-bottom: 70px;
  }
}

.price__title{
  margin-bottom: 34px;

  @include vp-1365 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    margin-bottom: 26px;
  }
}

.price__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__period {
  margin-bottom: 37px;

  @include vp-1365 {
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.price__list {
  display: flex;
  gap: 40px;
  text-align: center;
  z-index: 2;
  position: relative;

  @include vp-1365 {
    flex-direction: column;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.price__item {
  width: 360px;
  background-color: #ffffff;
  padding: 67px 77px 49px 78px;

  @include vp-1365 {
    width: 440px;
    padding: 67px 77px 65px 78px;
  }

  @include vp-767 {
    width: 290px;
    padding: 51px 42px 50px 42px;
  }

  &--checked {
    border: 7px solid;
    border-image: linear-gradient(to right, rgba(209, 10, 66, 1), rgba(0, 53, 159, 1))1;
    padding: 60px 70px 58px 71px;

    @include vp-767 {
      width: 290px;
      padding: 44px 35px 43px 35px;
    }
  }
}

.price__item--checked .price__description {
  margin-left: -3px;

  @include vp-767 {
    margin-left: -1px;
  }
}

.price__card-title {
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: normal;
  margin-bottom: 6px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 14px;
  }
}

.price__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;

  @include vp-1365 {
    margin-bottom: 21px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 21px;
  }
}

.price__cost--shadow {
  position: relative;
  font-weight: 700;
  color: rgba(232, 232, 232, 0.48);
  font-size: 100px;
  line-height: 150px;
  margin-bottom: 29px;

  @include vp-1365 {
    margin-bottom: 18px;
  }

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
    margin-bottom: 18px;
  }
}

.price__cost-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 54px;
  left: 19px;

  @include vp-1365 {
    left: 60px;
  }

  @include vp-767 {
    top: 44px;
    left: 37px;
    gap: 8px;
  }
}

.price__cost {
  color: $color-neon-blue;
  font-size: 60px;
  line-height: 90px;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }
}

.price__icon {
  @include vp-767 {
    height: 33px;
  }
}

.price__btn {
  box-sizing: border-box;
  color: $color-default-black;
  padding: 25px 42px;
  border: 2px solid $color-default-black;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;

  @include vp-1365 {
    padding: 20px 42px;
  }

  @include vp-767 {
    font-weight: 700;
  }
}

.price__item--checked .price__btn {
  padding: 27px 44px;
  border: none;
  background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));
  color: #ffffff;

  @include vp-1365 {
    padding: 22px 44px;
  }
}

.price__image {
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 1;

  @include vp-767 {
    display: none;
  }
}
